html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, cite, em, img, strong, b, u, i, ol, ul, li, article, aside, footer, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    list-style: none;
    text-decoration: none;
    color: black;
	font: inherit;
	vertical-align: baseline;
    font-family: sans-serif;
}

header{
    border-bottom: 1px solid rgba(65, 64, 64, 0.4);
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.containerHeader{
    max-width: 960px;
    margin: 0 auto;
    font-weight: 1000;
    font-size: xx-large;
    }

.container{
max-width: 800px;
margin: 5% auto;
/* background-color: grey; */
}

.cabecalho{
    background-color: #212529;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 8px;
}
.cabecalho span{
    color: white;
}

.lista__carrinho li{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
}

.subtotal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtotal .mensagem{
    margin-bottom: 10px;
    padding: 10px 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e9ecef;
    gap: 332px;
    border-radius: 8px;
    /* background-color: rebeccapurple; */
}

.subtotal .mensagem span{
    /* background-color: red; */
    width: max-content;
}

.subtotal button{
    padding: 10px 340px;
    background-color: #20c997;
    border: none;
    color: white;
    border-radius: 8px;
}
.subtotal button:hover{
    background-color: #1db386;
}
.subtotal button:active{
    background-color: #168161;
    transform: scale(0.991);
}